<div class="wrapper">


    <nav>
           
          <img src="../../../assets/images/logo.png" alt="logo">
    
          <ul>
              <li>
                  Home
              </li>
              
          </ul>
     </nav>
    
  
    
     </div>
     <br>
     <br>
     <br>

<div class="conatiner">
Email: <input [(ngModel)]="email" name="email" type="text" />
<br>
<br>
Password: <input  name="password" [(ngModel)]="password" type="password" />

</div>

<br>
<br>
<button class="btn" (click)="login()" type="button">login</button>
<br>
<br>

<button class="btn1" (click)="loginWithGoogle()">Login with Google</button>
<br>
<br>

<a class="btn2" href="http://localhost:4200/profile">User Register</a>

<br>
<br>
<a class="btn3" href="http://localhost:4200/reset-password">Reset password</a>



<a href=""></a>