<div class="wrapper">


    <nav>
           
          <img src="../../../assets/images/logo.png" alt="logo">
    
          <ul>
              <li>
                  Home
              </li>
              
          </ul>
     </nav>
    
  
    
     </div>
     <br>
     <br>
     
     <h2>Reset Password</h2>
     <h4>Email link will be sent after reseting password</h4>
<br>

Email: <input [(ngModel)]="email"  type="text" required/>

<br>
<br>


<button class="btn" (click)="resetPassword()" >Reset pasword</button>
<br>
<br>


<a class="btn1" href="http://localhost:4200/landing">Login</a>
