<div class="wrapper">


    <nav>
           
          <img src="../../../assets/images/logo.png" alt="logo">
    
          <ul>
              <li>
                  Home
              </li>
              
          </ul>
     </nav>
    
  
    
     </div>
     <br>
     <br>
     
     <h2>Reset Password</h2>
     <h4>Email link will be sent after reseting password</h4>
<br>

Email: <input [(ngModel)]="email" name="email" type="text" required/>

<br>
<br>


<button class="btn" (click)="resetPassword()" type="button">Reset pasword</button>
