<div class="wrapper">


    <nav>
           
          <img src="../../../assets/images/logo.png" alt="logo">
    
          <ul>
              <li>
                  Home
              </li>
              
          </ul>
     </nav>
    
  
    
     </div>
     <br>
     <br>

<form>
Email: <input [(ngModel)]="email" name="email" type="text" />

<br>
<br>
Password: <input  name="password" [(ngModel)]="password" type="password" />

<br>
<br>

<button class="btn" (click)="register()" type="button">Register</button>

<br>
<br>

<a class="btn1" href="http://localhost:4200/landing">Login</a>
</form>